
body{
    background-color: rgb(0,80,240);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.voltar{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0px 20px;
}
.voltar >p{
    font-size: 25px;
    color: white;
    font-weight: bold;
}

header{
    margin-bottom: 30px;
}   

form{
    display: flex;
    flex-flow: column nowrap;
    max-width: 400px;  
    margin: 20px 0px 100px 0px;
    font-size: 20px;
}

#email::placeholder,#senha::placeholder,#nome::placeholder{
    color: rgb(204, 204, 204);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }

#email,#senha,#nome{
    background-color: transparent;
    color: rgb(255, 249, 249);;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
}

#entrar{
    background-color: white;
    height: 55px;
    color:  rgb(0,80,240);
    font-weight: 700;
    font-size: 20px;
    border-radius: 4px;
}

#entrar:hover{
    background-color: rgb(219, 212, 212);
    transition: 0.5s;
    cursor: pointer;
  
}

form>p{
    color: rgb(235, 230, 230);
    text-align: center;
}

form >p >a{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}


form >p >a:hover{
    cursor: pointer;
}


@media (max-width: 500px)
{
    
    .voltar >p{
        padding-left: 10px;
    }
    form{
        margin: 0px 25px;
    }
    #email::placeholder,#senha::placeholder{
        font-weight: bold;
        font-size: 14px;
      }
    #email,#senha{
        height: 40px;
        font-size: 16px;
        margin-bottom: 20px;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 4px;
    }
}


