
body{
    background-color: rgb(0,80,240);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;

}


#voltar{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
}
#voltar >p{
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin: 0px;
}

#help{
    font-size: 20px;
    color: rgb(236, 0, 0);
    font-weight: bold;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: dotted;
    background-color: rgb(245, 239, 239);
     
}
#helpSucesso{
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: dotted;
    color: #06e95d;
    background-color: rgba(3, 3, 3, 0.651);
    border-radius: 50px;
    transition: 0.3s;
}

header{
    margin-top: 100px;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    margin-bottom: 20px;
}

#email::placeholder,#senha::placeholder,#nome::placeholder{
    color: rgb(204, 204, 204);
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

#email,#senha,#nome{
    background-color: transparent;
    color: rgb(255, 249, 249);;
    height: 60px;
    font-size: 24px;
    margin-bottom: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
}

#entrar{
    background-color: white;
    height: 60px;
    color:  rgb(0,80,240);
    font-weight: 700;
    font-size: 24px;
    border-radius: 4px;
}

#entrar:hover{
    background-color: rgb(219, 212, 212);
    transition: 0.5s;
    cursor: pointer;
  
}

#carregar{
    animation-name: load;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 40px;
    margin: auto;
}

#termos{
    color: rgb(235, 230, 230);
    text-align: center;
    font-size: 25px;
    margin: 0px 20px 0px 20px;
}


@keyframes load {

        from {
            transform: rotateZ(0);
        }
        to {
            transform: rotateZ(360deg);
        }
}



@media (max-width: 600px)
{
    
    #help, #helpSucesso{
        font-size: 16px;
    }

    #voltar >p{
        font-size: 20px;
    }
    #termos{
     font-size:18px;
     margin: 20px 20px 0px 20px;
    }

    form{
        margin: 0px 0px;
        width: 60vw;
    }
    header{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    #email::placeholder,#senha::placeholder,#nome::placeholder{
        font-weight: bold;
        font-size: 15px;
      }
    #email,#senha,#nome,#entrar{
        height: 40px;
        font-size: 15px;
    }
}


@media (max-width: 450px)
{
    #voltar >p{
        font-size: 18px;
    }
    #help,#helpSucesso{
        font-size: 12px;
    }
    #termos{
        font-size: 16px;
    }
}