body{
    background-color: rgb(0,80,240);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header{
    text-align: center;
}

h1{
    font-weight: 700;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    margin: 0px 30px 20px 30px;
}
.voltar{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0px 20px;
}
.voltar >p{
    font-size: 25px;
    color: white;
    font-weight: bold;
}

#texto::placeholder{
   text-align: center;
   font-size: 18px;
}

#texto{
    width: 380px;
    height: 36.5px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

#filtro{
    height: 41px;
    background-color: rgb(239,239,239);
    color: black;
    width: 60px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

#campoTexto{
    display: flex;
    flex-direction: row;
}

#textoData{
    display: flex;
    font-size: 20px;
    height: 36px;
    margin: 0px 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#pesquisar{
    width: 100px;
    height: 41px;
    border: 1px solid black;
    border-radius: 3px;
}

main{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   margin: 22px;

}

form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

#artigo{

    transition: 0.5s;
    border: 8px double black;
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 10px;
    width: 300px;
    height: 180px;
    box-shadow: rgba(5, 5, 5, 0.699) 1px 12px 20px;
    color: black;
    background-color: antiquewhite;
    overflow: auto;
    margin:25px 20px;
}

#link{
    text-decoration: none;
}


#artigo:hover{
    background-color: black;
    border: 8px double rebeccapurple;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#artigo:active{
    background-color: rgb(90, 88, 88);
}

#data{
    margin: 5px 5px 0px 0px;
    align-self: flex-end;
    -ms-align-self: flex-end; 
    font-size: 14px;
}

#titulo{
    text-align: center;
    font-size: 18px;
}

#artigo >p{
    text-align: center;
}


@media (max-width: 600px)
{

    h1{
        font-size: 5vw; 
        margin: 20px 0px 0 0px;
    }
    form{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-bottom: 0px;
    }
    #texto{
        margin:20px 20px;
        width: 250px;
        height: 32px;
    }

    #texto::placeholder{
        font-size: 14px;
    }

    .voltar>p{
        font-size: 22px;
    }

    #pesquisar{
        height: 30px;
    }
    #artigo{
        padding: 10px 5px 10px 10px;
        margin-top: 30px;
    }
    #titulo{
        font-size: 18px;
    }   
    #data{
        font-size: 20px;
        font-weight: 50;
        margin: 0px;
    }

    #filtro{
        height: 41px;
        margin-right: 30px;
    }
    
    #campoTexto{
        flex-direction: column;
        margin-top: 20px;
    }
    
    #textoData{
        display: flex;
        font-size: 20px;
        height: 36px;
        margin: 10px 0px;
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #pesquisar{
        width: 100px;
        height: 41px;
        border: 1px solid black;
        border-radius: 3px;
    }
    
    
}


@media (max-width: 400px)
{
    header{
        font-size: 4vw;
    }
    form{
        flex-flow: column nowrap;
    }
    #texto{
        width: 200px;
        height: 25px;
        font-size: 16px;
    }
    .voltar>p{
        font-size: 15px;
    }
    main{
        padding: 0px;
        margin: 0px;
    }

    #texto::placeholder{
        font-size: 14px;
    }
    #pesquisar{
        height: 30px;
    }
    #artigo{
        padding: 10px 5px 10px 10px;
        width: 200px;
        height: auto;
        margin: 10px 0px;
    }
    #titulo{
        font-size: 16px;
    }   
    #data{
        font-size: 12px;
        font-weight: 700;
        margin: 0px;
    }
    #filtro{
        height: 30px;
    }
    #textoData{
        height: 25px;
    }

    
}

